@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");



*{
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
.background {
	    min-height: 80vh;
    background: linear-gradient(to right, rgb(178, 177, 177), white, rgb(178, 177, 177));
}
.mannaggia{
	padding:30px;
  background: url("immaginelogin.jpg");
  backgoround-color: red;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: linear-gradient(to right, rgb(178, 177, 177), white, rgb(178, 177, 177));
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.body-wrapper {
	border-radius: 25px;
    background: #ecf0f1;
}

.wrappercar{
    max-width: 1000px;
    margin:0 auto;
}

.wrappercar h1{
    padding: 30px 0;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
}


button.button1 {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px;
    /* top: -5px; */
}
.project{
    display:flex;
}

.shop{
    flex: 75%;
}

.box{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 1rem;
    background-color: white;
    transition: all .6s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0 7px 29px 0;
}   

.box:hover{
    transform: scale(1.02);
}

.box img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.content{
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3{
    margin-bottom: 30px;
}

.content h5{
    margin-bottom: 50px;
    color: rgb(86, 86, 86);
}

.btn-area{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    background-color: red;
    font-weight: 600px;
}

.btn-area a{
    text-decoration: none;
    color:white
}

.btn-area a:hover{
    text-decoration: none;
}

.btn-area:hover{
    text-decoration: none;
    transform: scale(1.2);
}

.btn-area i{
    margin-right: 5px;
}

.btn-area2 {
    /* cursor: pointer; */
    position: absolute;
    bottom: 20px;
    right: 130px;
    padding: 5px 20px;
    color: black;
    cursor: pointer;
    border-radius: 50px;
    background: transparent;
    font-weight: 600px;
}

.btn-area2 i{
    margin-right: 5px;
}

.btn-area2 a{
    text-decoration: none;
    color:black
}

.btn-area2 a:hover{
    text-decoration: none;
    transform: scale(1.2);
}

.unit input{
    width: 50px;
    padding: 8px;
    text-align: center;
}

.right-bar{
	height: 340px;
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 7px 29px 0;
        margin-bottom: 20px;
}

.right-bar hr{
    margin-bottom: 23px;
}

.right-bar p{
    display: flex;
    justify-content: space-between;
    color: rgb(86, 86, 86);
    margin-bottom: 20px;
    font-size: 18px;
}

.right-bar a{
    background-color: rgb(18, 18, 206);
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900px;
    margin-top: 100px;
    border-radius: 50px;
}

.right-bar a:hover{
    opacity: 0.8;
}

.right-bar i{
    margin-right: 15px;
}

.quantity{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;  
}

@media screen and (max-width: 720px){

    .content h3{
        margin-bottom: 10px;
    }

    .content h5{
        margin-bottom: 10px;
    }
    
    .box{
        height: 200px;
    }

    .box img{
        height: 150px;
        width: 200px
    }

    .btn-2{
        display: flex;
    } 
    .quantity{
        display: flex;
    }
        
}

@media screen and (max-width: 900px){

    .project{
        flex-direction: column;
    } 
       
    .right-bar{
        margin-left: 0;
        margin-bottom: 25px;
    }
    
}

@media screen and (max-width: 1250px){

    .wrappercar{
        max-width: 95%;
    } 
}